# widen access of the constructor
public net.minecraft.world.item.ItemCooldowns$CooldownInstance <init>(II)Lnet/minecraft/world/item/ItemCooldowns$CooldownInstance;
# widen access of the class
public net.minecraft.world.item.ItemCooldowns$CooldownInstance

public net.minecraft.world.entity.AgeableMob f_146733_ # age
public-f net.minecraft.world.item.ItemCooldowns$CooldownInstance f_41533_ # startTime
public-f net.minecraft.world.item.ItemCooldowns$CooldownInstance f_41534_ # endTime

##net.minecraft.world.item.Items registerItem(Lnet/minecraft/resources/ResourceKey;Lnet/minecraft/world/item/Item;)Lnet/minecraft/world/item/Item;
##net.minecraft.world.item.Item$Properties m_41489_(Lnet/minecraft/world/food/FoodProperties;)Lnet/minecraft/world/item/Item$Properties; # food